* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  text-decoration: none !important;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.rounded-lg {
  border-radius: 1rem !important;
}
.text-small {
  font-size: 0.9rem !important;
}
.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}
.text-uppercase {
  letter-spacing: 0.2em;
}

.animation:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.max-height {
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .card-class {
    min-height: 460px;
  }
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
  color: #514b64 !important;
  min-height: 100vh;
}

.bg-1 {
  background-image: linear-gradient(
    to top,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
}
